language: node_js
node_js:
  - "7"
  - "6"
  
script: npm run travis
cache:
  npm: true
  directories:
  - node_modules

env:
  - CXX=g++-4.8
  
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
